<template>
    <div>
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Ahorro</h1>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="./">Home</a></li>
          <li class="breadcrumb-item active" aria-current="page">Ahorro</li>
        </ol>
      </div>
      <hr class="sidebar-dividerF" />
      <div class="card mb-4">
        <div class="card-header">Saldo Total de Ahorro</div>
        <div class="card-body text-center">
          <h2>$10,000</h2>
          <button class="btn btn-primary mt-3">Crear Nueva Meta de Ahorro</button>
        </div>
      </div>
  
      <div class="card mb-4">
        <div class="card-header">Última Meta de Ahorro Agregada</div>
        <div class="card-body">
          <div class="card mb-3">
            <div class="card-body">
              <h5 class="card-title">Meta de Ahorro: laptop</h5>
              <div class="progress mb-3">
                <div
                  class="progress-bar bg-info"
                  role="progressbar"
                  :style="{ width: '50%' }"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                ></div>
              </div>
              <p class="card-text">50% completado</p>
              <div class="text-center">
                <button class="btn btn-primary" @click="showModal('Laptop')">Ver Más</button>
              </div>
            </div>
          </div>
        </div>
      </div>
  
      <div class="row mb-4">
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Metas de Ahorro en Progreso</div>
            <div class="card-body">
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Meta de Ahorro: Escuela</h5>
                  <div class="progress mb-3">
                    <div
                      class="progress-bar bg-info"
                      role="progressbar"
                      :style="{ width: '80%' }"
                      aria-valuenow="80"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="card-text">80% completado</p>
                  <div class="text-center">
                    <button class="btn btn-primary" @click="showModal('Escuela')">Ver Más</button>
                  </div>
                </div>
              </div>
              <!-- Repite este bloque de card para cada meta de ahorro en progreso -->
            </div>
          </div>
        </div>
  
        <!-- Metas de ahorro cumplidas -->
        <div class="col-md-6">
          <div class="card">
            <div class="card-header">Metas de Ahorro Cumplidas</div>
            <div class="card-body">
              <!-- Aquí puedes iterar sobre las metas de ahorro cumplidas y mostrar cada una en un card -->
              <div class="card mb-3">
                <div class="card-body">
                  <h5 class="card-title">Meta de Ahorro: celular</h5>
                  <div class="progress mb-3">
                    <div
                      class="progress-bar bg-success"
                      role="progressbar"
                      :style="{ width: '100%' }"
                      aria-valuenow="100"
                      aria-valuemin="0"
                      aria-valuemax="100"
                    ></div>
                  </div>
                  <p class="card-text">100% completado</p>
                  <div class="text-center">
                    <button class="btn btn-primary" @click="showModal('Celular')">Ver Más</button>
                  </div>
                </div>
              </div>
              <!-- Repite este bloque de card para cada meta de ahorro cumplida -->
            </div>
          </div>
        </div>
      </div>
  
      <!-- Modal -->
      <div class="modal fade" id="metaModal" tabindex="-1" role="dialog" aria-labelledby="metaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="metaModalLabel">Detalles de la Meta de Ahorro</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <!-- Contenido del modal -->
              <p>Nombre: {{ metaData.name }}</p>
              <p>Total: {{ metaData.total }}</p>
              <p>Progreso: {{ metaData.progress }}</p>
              <p>Deducción: {{ metaData.deduction }}</p>
              <p>Categoría: {{ metaData.category }}</p>
              <p>Descripción: {{ metaData.description }}</p>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </template>
  
  <script setup lang="ts">
  import { ref } from 'vue'
  
  const metaData = ref({
    name: '',
    total: 0,
    progress: 0,
    deduction: 0,
    category: '',
    description: ''
  })
  
  const showModal = (name: string) => {
    metaData.value = {
      name: name,
      total: 1000,
      progress: 50,
      deduction: 100,
      category: 'Electrónica',
      description: 'Compra de una nueva laptop'
    }
    // Abre el modal
    $('#metaModal').modal('show')
  }
  </script>
  
  <style scoped>
  /* Agrega estilos personalizados aquí si es necesario */
  </style>
  