<script setup lang="ts">
import { RouterLink, RouterView, useRouter } from 'vue-router'

const router = useRouter();

const confirmLogout = () => {
  if (confirm("¿Estás seguro de cerrar sesión?")) {
    logout();
  }
}

const logout = () => {
  router.push({ name: 'login' });
}

</script>

<template>
  <div id="wrapper">
    <!-- Sidebar -->
    <ul class="navbar-nav sidebar sidebar-light accordion" id="accordionSidebar">
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
        <div class="sidebar-brand-icon">
          <img src="/src/assets/img/logo/Logo4.png" />
        </div>
        <div class="sidebar-brand-text mx-3">SmartSaver</div>
      </a>
      <hr class="sidebar-divider my-0" />
      <li class="nav-item active">
        <RouterLink class="nav-link" :to="{ name: 'test' }">
          <i class="fas fa-home"></i>
          <span>Dashboard</span>
        </RouterLink>
      </li>
      <hr class="sidebar-divider" />
      <div class="sidebar-heading">Opciones</div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseBootstrap"
          aria-expanded="true" aria-controls="collapseBootstrap">
          <i class="fas fa-folder"></i>
          <span>Categorias</span>
        </a>
        <div id="collapseBootstrap" class="collapse" aria-labelledby="headingBootstrap" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- Router Temporal -->
            <!-- <RouterLink class="collapse-item" :to="{ name: 'about' }">
              <i class="fas fa-info-circle"></i> About
            </RouterLink> -->

            <RouterLink class="collapse-item" :to="{ name: 'gasto' }">
              <i class="fas fa-money-bill"></i> Gastos
            </RouterLink>

            <RouterLink class="collapse-item" :to="{ name: 'ingreso' }">
              <i class="fas fa-dollar-sign"></i> Ingresos
            </RouterLink>

            <RouterLink class="collapse-item" :to="{ name: 'ahorro' }">
              <i class="fas fa-piggy-bank"></i> Ahorro
            </RouterLink>
          </div>
        </div>
      </li>

      <br />
      <div class="sidebar-heading">Personal</div>
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseForm" aria-expanded="true"
          aria-controls="collapseForm">
          <i class="fas fa-user"></i>
          <span>Perfil</span>
        </a>
        <div id="collapseForm" class="collapse" aria-labelledby="headingForm" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <!-- <a class="collapse-item" href="form_basics.html">
              <i class="fas fa-user-circle"></i> Mi perfil
            </a> -->
            <RouterLink class="collapse-item" :to="{ name: 'perfil' }">
              <i class="fas fa-user-circle"></i> Mi Perfil
            </RouterLink>
          </div>
        </div>
      </li>
    </ul>
    <!-- Sidebar -->
    <div id="content-wrapper" class="d-flex flex-column">
      <div id="content">
        <!-- TopBar -->
        <nav class="navbar navbar-expand navbar-light bg-navbarF topbar mb-4 static-top">
          <button id="sidebarToggleTop" class="btn btn-link rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
          <ul class="navbar-nav ml-auto">
            <!-- <div class="topbar-divider d-none d-sm-block"></div> -->
            <li class="nav-item dropdown no-arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <img class="img-profile rounded-circle" src="/src/assets/img/boy.png" style="max-width: 60px" />
                <span class="ml-2 d-none d-lg-inline text-white small">Thiago Ramirez Soberano</span>
              </a>
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <!-- Mas opciones -->
                <!-- <a class="dropdown-item" href="#">
                  <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                  Settings
                </a>
                <a class="dropdown-item" href="#">
                  <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                  Activity Log
                </a> -->
                <div class="dropdown-divider"></div>
                <!-- <a
                  class="dropdown-item"
                  href="javascript:void(0);"
                  data-toggle="modal"
                  data-target="#logoutModal"
                > -->
                <a class="dropdown-item" href="#" @click="confirmLogout">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>
          </ul>
        </nav>
        <!-- Topbar -->

        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <RouterView />
        </div>
        <!---Container Fluid-->
      </div>
      <footer class="sticky-footer bg-navbarF">
        <!-- CopyRay y opciones de terminos con links -->
        <!-- <div class="container my-auto py-2">
          <div class="row">
            <div class="col-md-6">
              <span>&copy; 2024 MyCompany</span>
            </div>
            <div class="col-md-6">
              <ul class="list-inline text-center">
                <li class="list-inline-item"><a href="#">Términos de servicio</a></li>
                <li class="list-inline-item"><a href="#">Política de privacidad</a></li>
                <li class="list-inline-item"><a href="#">Contacto</a></li>
              </ul>
            </div>
          </div>
        </div> -->
      </footer>
    </div>
  </div>

  <!-- Scroll to top -->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>
</template>