<template>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Ingreso</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Ingreso</li>
        </ol>
    </div>
    <!-- <input type="date" id="fecha" name="fecha"> -->
    <!-- <hr class="sidebar-dividerF" /> -->
    <div class="card mb-4">
        <div class="card-body">
            <Doughnut :data="data" :options="options" />
        </div>
    </div>
    <router-link class="newB" to="NuevoIngreso">Nuevo</router-link>
    <br>
    <hr class="sidebar-dividerF" />
    <!-- Contenedor para saldo -->
    <div class="row mb-3">
        <!-- Primera columna para el primer contenedor de saldo -->
        <div class="col-md-6 mb-2">
            <div class="saldo-container">
                <i class="fas fa-dollar-sign"></i>
                <span>Sueldo</span>
                <span>2<!-- {{ VARIABLE DEL % }}-->%</span>
                <span>$ 500<!-- {{ VARIABLE }}--></span>
            </div>
        </div>
        <!-- Segunda columna para el segundo contenedor de saldo -->
        <div class="col-md-6 mb-2">
            <div class="saldo-container">
                <i class="fas fa-folder"></i>
                <span>Regalo</span>
                <span>5<!-- {{ VARIABLE DEL % }}-->%</span>
                <span>$ 800<!-- {{ VARIABLE }}--></span>
            </div>
        </div>
        <!-- Segunda columna para el segundo contenedor de saldo -->
        <!-- <div class="col-md-6 mb-2">
            <div class="saldo-container">
                <i class="fas fa-folder"></i>
                <span>Sueldo</span>
                <span>$ 500</span>
            </div>
        </div>
        Segunda columna para el segundo contenedor de saldo
        <div class="col-md-6 mb-2">
            <div class="saldo-container">
                <i class="fas fa-folder"></i>
                <span>Sueldo</span>
                <span>$ 500</span>
            </div>
        </div> -->
    </div>

</template>

<script lang="ts">
import { Chart as ChartJS, ArcElement, Tooltip, Legend } from 'chart.js'
import { Doughnut } from 'vue-chartjs'
import * as chartConfig from './chartConfig.js'

ChartJS.register(ArcElement, Tooltip, Legend)

export default {
    name: 'App',
    components: {
        Doughnut
    },
    data() {
        return chartConfig
    }
}
</script>

<style scoped>
.newB {
    background-color: #0093AF;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border-radius: 4px 4px 4px 4px;
    /* Bordes redondeados */
    padding: 10px 20px;
    /* Espaciado interno */
    border: none;
    /* Sin borde */
    cursor: pointer;
    /* Cursor de puntero */
    font-size: 16px;
    /* Tamaño de fuente */
    transition: background-color 0.3s;
    /* Transición suave */
    text-decoration: none;
    /* Sin subrayado */
}

.newB:hover {
    background-color: #007F99;
    /* Cambio de color al pasar el mouse */
}

/* Estilos para el contenedor de saldo */
.saldo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #ffffff;
    /* Color de fondo */
    border-radius: 4px;
    /* Bordes redondeados */
    padding: 10px;
    /* Espaciado interno */
    border: 1px solid #BBBBBB;
    /* Borde de color negro */
}

.saldo-container i {
    margin-right: 10px;
    /* Espacio entre el icono y el texto */
    color: #0093AF;
    /* Color del icono */
}

/* Estilos para dividir el espacio */
.space-divider {
    flex: 1;
    /* Ocupa el espacio disponible */
    margin: 0 5px;
    /* Margen izquierdo y derecho */
}
</style>