<template>
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Nuevo Ingreso</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="./">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Nuevo Ingreso</li>
        </ol>
    </div>
    <!-- <input type="date" id="fecha" name="fecha"> -->
    <hr class="sidebar-dividerF" />
    <br>
    <!-- <div>
        <Doughnut :data="data" :options="options" />
    </div> -->
    <div>
        <h2>hola</h2>
    </div>
    <!-- <router-link class="newB" to="NuevoIngreso">Nuevo</router-link> -->
    <br>
    <hr class="sidebar-dividerF" />
</template>

<script lang="ts">
// import { Chart as ChartJS, ArcElement, Tooltip, Legend } from 'chart.js'
// import { Doughnut } from 'vue-chartjs'
// import * as chartConfig from './chartConfig.js'

// ChartJS.register(ArcElement, Tooltip, Legend)

// export default {
//     name: 'App',
//     components: {
//         Doughnut
//     },
//     data() {
//         return chartConfig
//     }
// }
</script>

<style scoped>
.newB {
    background-color: #0093AF;
    /* Color de fondo */
    color: white;
    /* Color del texto */
    border-radius: 4px 4px 4px 4px;
    /* Bordes redondeados */
    padding: 10px 20px;
    /* Espaciado interno */
    border: none;
    /* Sin borde */
    cursor: pointer;
    /* Cursor de puntero */
    font-size: 16px;
    /* Tamaño de fuente */
    transition: background-color 0.3s;
    /* Transición suave */
    text-decoration: none;
    /* Sin subrayado */
}

.newB:hover {
    background-color: #007F99;
    /* Cambio de color al pasar el mouse */
}
</style>
