<template>
  <div class="container-login"  id="app">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-12 col-md-9">
        <div class="card shadow-sm my-5">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-lg-12">
                <div class="login-form">
                  <div class="text-center">
                    <h1 class="h4 text-gray-900 mb-4">Registro</h1>
                  </div>
                  <hr />
                  <form @submit.prevent="submitForm">
                    <div class="form-camp">
                      <label for="email">Nombre</label>
                      <div class="input-container">
                        <i class="fas fa-user fa-2x icon"></i>
                        <input
                          v-model="name"
                          type="text"
                          id="name"
                          @input="validateName"
                          placeholder="Nombre"
                        />
                      </div>

                      <p v-if="errors.some((error) => error.field === 'name')" class="error">
                        {{ errors.find((error) => error.field === 'name')?.message }}
                      </p>
                    </div>

                    <div class="form-camp">
                      <label for="email">Correo</label>
                      <div class="input-container">
                        <i class="fas fa-envelope fa-2x icon"></i>
                        <input
                          v-model="email"
                          type="email"
                          id="email"
                          @input="validateEmail"
                          placeholder="Correo"
                        />
                      </div>
                      <p v-if="errors.some((error) => error.field === 'email')" class="error">
                        {{ errors.find((error) => error.field === 'email')?.message }}
                      </p>
                    </div>

                    <div class="form-camp">
                      <label for="email">Contraseña</label>
                      <div class="input-container">
                        <i class="fas fa-lock fa-2x icon"></i>
                        <input
                          v-model="password"
                          type="password"
                          id="password"
                          @input="validatePassword"
                          placeholder="Contraseña"
                        />
                      </div>
                      <p v-if="errors.some((error) => error.field === 'password')" class="error">
                        {{ errors.find((error) => error.field === 'password')?.message }}
                      </p>
                    </div>

                    <div class="form-camp">
                      <label for="email">Confirmar Contraseña</label>
                      <div class="input-container">
                        <i class="fas fa-lock fa-2x icon"></i>
                        <input
                          v-model="confirmPassword"
                          type="password"
                          id="confirmPassword"
                          @input="validateConfirmPassword"
                          placeholder="Confirmar Contraseña"
                        />
                      </div>
                      <p
                        v-if="errors.some((error) => error.field === 'confirmPassword')"
                        class="error"
                      >
                        {{ errors.find((error) => error.field === 'confirmPassword')?.message }}
                      </p>
                    </div>

                    <div class="form-group">
                      <button type="submit" class="submit" :disabled="!isFormValid">
                        Registrarse
                      </button>
                    </div>
                    <div class="register-link text-center">
                      ¿Ya tienes una cuenta?
                      <router-link to="/"
                        >Iniciar Sesión</router-link
                      >
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { ref, computed, watch } from 'vue'
import { useRouter } from 'vue-router'

const router = useRouter()
const name = ref('')
const email = ref('')
const password = ref('')
const confirmPassword = ref('')
const errors = ref<Array<{ field: string; message: string }>>([])

const validateName = () => {
  if (!name.value) {
    errors.value.push({ field: 'name', message: 'El nombre es requerido' })
  } else {
    errors.value = errors.value.filter((error) => error.field !== 'name')
  }
}

const validateEmail = () => {
  if (!email.value) {
    errors.value.push({ field: 'email', message: 'El correo es requerido' })
  } else if (!/^\S+@\S+\.\S+$/.test(email.value)) {
    errors.value.push({ field: 'email', message: 'El correo no es válido' })
  } else {
    errors.value = errors.value.filter((error) => error.field !== 'email')
  }
}

const validatePassword = () => {
  if (!password.value) {
    errors.value.push({ field: 'password', message: 'La contraseña es requerida' })
  } else if (password.value.length < 6) {
    errors.value.push({
      field: 'password',
      message: 'La contraseña debe tener al menos 6 caracteres'
    })
  } else {
    errors.value = errors.value.filter((error) => error.field !== 'password')
  }
}

const validateConfirmPassword = () => {
  errors.value = errors.value.filter((error) => error.field !== 'confirmPassword')

  if (!confirmPassword.value) {
    errors.value.push({
      field: 'confirmPassword',
      message: 'La confirmación de contraseña es requerida'
    })
  } else if (password.value !== confirmPassword.value) {
    errors.value.push({ field: 'confirmPassword', message: 'Las contraseñas no coinciden' })
  }
}

const validateForm = () => {
  validateName()
  validateEmail()
  validatePassword()
  validateConfirmPassword()
}

watch([password, confirmPassword], () => {
  if (password.value && confirmPassword.value) {
    validateConfirmPassword()
  } else {
    errors.value = errors.value.filter((error) => error.field !== 'confirmPassword')
  }
})

const isFormValid = computed(() => {
  return (
    name.value &&
    email.value &&
    /^\S+@\S+\.\S+$/.test(email.value) &&
    password.value &&
    confirmPassword.value &&
    errors.value.length === 0
  )
})

const submitForm = async () => {
  validateForm()
  if (errors.value.length === 0) {
    alert('Usuario registrado exitosamente')
    router.push({ name: 'login' })
  }
}
</script>

<style scoped>
#app{
  min-height: 100vh; 
  background-color: #4EA3FF;
}
.icon {
  margin-right: 10px;
  color: #5c5e60;
}

.register-link {
  font-size: 14px;

  color: #5c5e60;
  margin-bottom: 0;
}

.register-link a {
  color: #3498db;
  text-decoration: none;
}

.register-link a:hover {
  text-decoration: underline;
}

.form-camp {
  font-size: 14px;
  margin-bottom: 15px;
}

.input-container {
  display: flex;
  align-items: center;
}

.input-container svg {
  margin-right: 10px;
}

input[type='text'],
input[type='email'],
input[type='password'] {
  background-color: white;
  width: 100%;
  padding: 8px;
  border: 1px solid #ada7a7;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 12px;
}

.error {
  color: white;
  font-size: 12px;
  font-weight: 500;
  background-color: #ff0000;
  border: 1px solid #ff0000;
  padding: 8px;
  border-radius: 8px;
  margin-top: 5px;
  display: block;
  width: 100%;
}

.submit {
  width: 100%;
  padding: 10px;
  background-color: #17c0c3;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s;
}

.submit:hover {
  background-color: #41ccce;
}

.submit:disabled {
  color: rgb(163, 160, 160);
  background-color: #cccccc;
  cursor: not-allowed;
}

.submit:disabled:hover {
  background-color: #cccccc;
}
</style>
